


.buttonstyle{
  background-color: #4CAF50
}

.btn-file {

  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  cursor: pointer;
  display: block;
  border-radius: 20px;
  /* padding: 5px; */
  /* width: 60%; */
  /* padding: 20px; */
  /* margin: 20px 6px; */

  mix-blend-mode: undefined;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0 rgba(25, 196, 172, 0.44);
  background-color: #4CAF50;
  border: solid 1px #15a692;
  }
  .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
  }
